/*
Theme Name: ritchie
Theme URI: http://underscores.me/
Author: Alex Kerney
Author URI: http://alexkerney.com
Description: Description
Version: 1.0
License: GNU General Public License
License URI: license.txt
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/* Colors
----------------------------------------------- */
@dark-blue: #051A67;
@light-blue: #1C459D;
@orange: #FF8D34;
@light-orange: #FFD7A6;

.gradient(@color: #051A67, @start: @dark-blue, @stop: @light-blue) {
	background: @color;
	background: -webkit-gradient(linear, left top, right top, color-stop(0, @start), color-stop(1, @stop));
	background: -ms-linear-gradient(bottom, @start, @stop);
	background: -moz-linear-gradient(center bottom, @start 0%, @stop 100%);
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}
.rgradient(@color: #051A67, @start: @light-blue, @stop: @dark-blue) {
	background: @color;
	background: -webkit-gradient(linear, left top, right top, color-stop(0, @start), color-stop(1, @stop));
	background: -ms-linear-gradient(bottom, @start, @stop);
	background: -moz-linear-gradient(center bottom, @start 0%, @stop 100%);
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}
.vert-gradient(@color: @orange, @start: @light-orange, @stop: @orange) {
	background: @color;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, @start), color-stop(1, @stop));
	background: -ms-linear-gradient(bottom, @start, @stop);
	background: -moz-linear-gradient(center bottom, @start 0%, @stop 100%);
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}
.rounded-corner (@radius: 5px) {
  -webkit-border-radius: @radius 0px 0px 0px;
  -moz-border-radius: @radius 0px 0px 0px;
  -ms-border-radius: @radius 0px 0px 0px;
  -o-border-radius: @radius 0px 0px 0px;
  border-radius: @radius 0px 0px 0px;
}

.rounded-right-corner (@radius: 10px) {
  -webkit-border-radius: 0px @radius 0px 0px;
  -moz-border-radius: 0px @radius 0px 0px;
  -ms-border-radius: 0px @radius 0px 0px;
  -o-border-radius: 0px @radius 0px 0px;
  border-radius: 0px @radius 0px 0px;
}
.small-rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size: 1.6rem;
	line-height: 1.5;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
	font-size: 14px;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	*overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	color: rgba(0,0,0,.8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.4rem;
	line-height: 1;
	padding: 1.12em 1.5em 1em;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type=text],
input[type=email],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
	color: #111;
}
input[type=text],
input[type=email] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a {
	color: royalblue;
}
a:visited {
	color: purple;
}
a:hover,
a:focus,
a:active {
	color: midnightblue;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}


/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	position: absolute;
		top: 1.5em;
		left: 0;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
}
.main-small-navigation .menu {
	display: none;
}


/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.entry-meta {
	clear: both;
}
.byline {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.site-header img,
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
.site-header img,
.entry-content img,
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.site-header img,
.entry-content img,
img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	max-width: 100%;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
	margin-bottom: 1.5em;
}
.wp-caption img {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-content .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-content .gallery dd {
	margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-content .site-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.site-content .nav-previous {
	float: left;
	width: 50%;
}
.site-content .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* =Comments
----------------------------------------------- */

.bypostauthor {
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Search widget */
#searchsubmit {
	display: none;
}

/* Sizing
----------------------------------------------- */
#page {
	width: 931px;
	margin: auto;
}
header {
	clear: both;
	width: 931px;
}
#main {
	width: 734px;
	float: right;
}
#secondary {
	width: 197px;
	float: left;
}
footer {
	clear: both;
}

/* Page
----------------------------------------------- */
body {
	background-color: @dark-blue;
	background-image: url(inc/images/tile_bg_large.jpg);
	background-repeat: repeat-x;
}
#page {
}

/* General styles
----------------------------------------------- */
.attribution {
	font-size: smaller;
}
.right {
	float: right;
	clear: none;
	width: auto;
	margin-top: 24px;
}
.left {
	float: left;
	clear: none;
	width: 406px;
	
}
#nav-below {
	float: left;
	clear: both;
}

/* Header
----------------------------------------------- */
#masthead {
	h1 {
		border: 0;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		background: url(inc/images/hdr.jpg);
		width: 564px;
		height: 127px;
		float: left;
		a {
			color: @dark-blue;
		}
	}
	h2 {
		border: 0;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		background: url(inc/images/Life.png);
		width: 359px;
		height: 127px;
		float: left;
		font-style: italic;
		font-size: xx-large;
	}
	ul {
		padding-top: 55px;
	}
	li {
		list-style: none;
		float: right;
		clear: right;
		a, a:visited, a:hover {
			color: @light-blue;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
	.donate a:after {
		content: " " url(inc/icons-orange/20-circle-east.png);
	}
}


/* Main
----------------------------------------------- */
#content{
	width: 612px;
	background-color: white;
	.rounded-right-corner;
	padding: 30px 61px;
	overflow: hidden;
	h1 {
		color: @dark-blue;
		clear: none;
		.vert-gradient;
		.rounded-corner;
		padding-left: 8px;
		border-bottom: 1px solid @dark-blue;
	}
	h2 {
		color: @dark-blue;
		clear: none;
	}
	hr {
		background-color: @orange;
	}
	.entry-header {
		h1 {
			width: 604px;
			.gradient;
			.rounded-corner;
			color: white;
			padding-left: 8px;
			border-bottom: 1px solid @orange;
			text-transform: uppercase;
		}
		a {
			color: @orange;
		    text-decoration: none;
		}
	}
	div.entry-content img {
		border: 1px solid white;
		outline: 4px solid @dark-blue;
		margin-left: 5px;
		max-width: 586px;
	}
	img.type-icon {
		padding-top: 6px;
		padding-left: 6px;
	}

	p {
		font-size: 12px;
		margin-left: 8px;
		margin-right: 8px;
	}
	.entry-meta.right {
		background: #eee;
		border: 1px solid #ccc;
		padding: 10px;
		border-radius: 8px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		position: relative;
		// this would love to get a callout or popover style arrow sometime in the future
	}
}


/* Sidebar (secondary)
----------------------------------------------- */
#secondary {
	.rgradient;
	aside.jason {
		margin-bottom: 0;
		position: relative;
		background-color: transparent;
		height: 268px;
	}
	aside.jason::before {
		content: " ";
		position: absolute;
		width: 274px;
		height: 268px;
		left: -35px;
		z-index: 1;
		background-image: url(inc/images/jason.png); //slickness from http://www.exratione.com/2011/09/how-to-overflow-a-background-image-using-css3/
	}
	aside.widget_nav_menu {
		padding-top: 0;
		ul {
			margin-left: 0;
		}
		li {
			list-style-type: none;
			width: 197px;
			clear: both;
			border-bottom: 1px solid gray;
			text-align: right;
			
			a {
				padding-right: 8px;
				color: white;
				text-decoration: none;
			}
		}
		li.current_page_item a {
			color: @orange;
			font-style: italic;
			font-weight: 800;
		}
		
		.facebook a:after {
			content: " " url(inc/icons-orange/208-facebook.png);			
		}
	}
}

/* Footer
----------------------------------------------- */
footer {
	background-color: lighten(gray, 30%);
	font-size: 12px;
	overflow: hidden;
	padding: 0 8px 0 8px;
	aside.widget_text {
		float: left;
		color: @dark-blue;
	}
	aside.widget_nav_menu {
		float: left;
		
		li {
			list-style: none;
			float: left;
			padding: 0px 16px;
			border-right: 1px solid @dark-blue;
			a, a:visited {
				color: @dark-blue;
				text-decoration: none;
			}
		}
		li:last-child {
			border-right: none;
		}
	}
	div.credits {
		color: @dark-blue;
		float: right;
		text-align: right;
	}
}

/* Post Formats
----------------------------------------------- */
.format-aside {
	overflow: hidden;
	.entry-content {
		background-color: @light-blue;
		color: white;
		// margin-bottom: 16px;
		position: relative;
		overflow: hidden;
		p {
			padding: 16px 16px 0px 16px;
		}
	}
	.entry-content:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		border-width: 0 24px 24px 0;
		border-style: solid;
		border-color: @dark-blue white;
		display: block;
		width: 0;
		-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
		-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
		box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
		// from http://nicolasgallagher.com/pure-css-folded-corner-effect/
	}
}

.format-video {
}

.format-image {

}

/* Page Specific Stuff
----------------------------------------------- */
/* front-page
----------------------------------------------- */
body.home {
	#content {
		border-top-right-radius: 0;	
		margin-top: -8px;	
	}
	embed {
		padding-bottom: 0;
		
	}
	#secondary aside.jason::before {
		background-image: url(inc/images/jason_home.png);
		width: 232px;
		height: 268px;
	}
}
/* Single
----------------------------------------------- */
body.single {
	.comments-area {
		float: left;
		clear: both;
	}
}
/* Blog
----------------------------------------------- */
body.blog {
	.format-video, .format-image, .format-gallery, .format-link, .format-standard {
		background-color: #eee;
		border-radius: 0px 0px 10px 10px;
		.entry-meta {
			border-radius: 0px 0px 10px 10px;
		}
	}
}

/* Mobile Specific
----------------------------------------------- */
body.home embed.front-flash {
	background-image: url(inc/images/flash-bg.png);
	z-index: -1;
}